<a href="https://colab.research.google.com/github/archananair17/Introduction-to-SQL/blob/main/Salesdata_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT * FROM Supermarket_sales ORDER BY Unitprice  LIMIT 1; ''')
print(cursor.fetchall())
conn.close()

[('10', '692-92-5582', 'B', 'Mandalay', 'Member', 'Female', 'Food and beverages', '3', '144', '7445', '13:27', 'Credit card', '164.52', '4.761904762', '8.226', '5.9', '0')]

In [3]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT min(Unitprice),max(Unitprice),avg(Unitprice) FROM Supermarket_sales; ''')
print(cursor.fetchall())
conn.close()

[('0', '99', 49.099)]

In [4]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT min(Quantity),max(Quantity),avg(Quantity) FROM Supermarket_sales; ''')
print(cursor.fetchall())
conn.close()

[('1', '9', 5.51)]

In [5]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT min(Quantity),max(Quantity),avg(Quantity) FROM Supermarket_sales WHERE Productline="Health and beauty"; ''')
print(cursor.fetchall())
conn.close()

[('1', '9', 5.618421052631579)]

In [6]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT min(Unitprice),max(Unitprice),avg(Unitprice) FROM Supermarket_sales WHERE Productline="Health and beauty"; ''')
print(cursor.fetchall())
conn.close()

[('0', '99', 45.35526315789474)]

In [7]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT min(Quantity),max(Quantity),avg(Quantity) FROM Supermarket_sales WHERE Productline="Electronic accessories"; ''')
print(cursor.fetchall())
conn.close()

[('1', '9', 5.711764705882353)]

In [8]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT count(Gender) FROM Supermarket_sales WHERE Productline="Health and beauty" AND Gender="Male"; ''')
print(cursor.fetchall())
conn.close()

[(88,)]

In [9]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT count(Gender) FROM Supermarket_sales WHERE Productline="Fashion accessories" AND Gender="Female"; ''')
print(cursor.fetchall())
conn.close()

[(96,)]

In [10]:
import sqlite3
conn = sqlite3.connect('SalesDBNew.db')
cursor = conn.cursor()
cursor.execute('''SELECT count(Gender) FROM Supermarket_sales WHERE Productline="Fashion accessories" AND Productline="Sports and travel" AND Gender="Female"; ''')
print(cursor.fetchall())
conn.close()

[(0,)]